<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>PyLadies</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.min.js"></script>
</head>

<body>

    <div id="container">

        <aside>
            <header>
                <h1><a href="/">PyLadies</a></h1>
            </header>

            <nav>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Events</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href="">Calendar</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Sponsors</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>

            <div class="linode">
                <a href="http://www.linode.com">Hosting sponsored by Linode</a>
            </div>

        </aside>

        <div id="main" role="main">

            {% block content %}
                
            <div class="mission-statement">
                <p>Our mission is to increase diversity in the Python community through education, events, mentorship, and outreach. Anyone with an interest in Python is encouraged to participate.</p>
            </div>

            <p>We currently have events in Los Angeles, Washington D.C., and San Francisco. Want PyLadies in your area? Start one!</p>

            <div class="upcoming">

                <h3>Upcoming Events</h3>
                <ul>
                    <li>Python Workshop</li>
                    <li>Social Event</li>
                </ul>

            </div>

            <div class="upcoming">

                <h3>Latest Blog Post</h3>
                <p>Some Entry Snippet here</p>

            </div>

            <div class="mailchimp">
                <form action="http://pyladies.us2.list-manage.com/subscribe/post?u=9d20e0bc6bc0e88a076738c6f&amp;id=23e4f35e45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <label for="mce-EMAIL">Subscribe to our Mailing List</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </form>
            </div>

            {% endblock content %}
        </div>

        <footer>

        </footer>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>

    <script src="static/js/pyladies.js"></script>

    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
  
</body>
</html>