/* HTML5 Boilerplate
 * ==|== normalize.css ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

table button, table input {
  *overflow: auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

@font-face {
  font-family: 'CodeProDemoRegular';
  src: url("../fonts/Code_Pro_Demo-webfont.eot");
  src: url("../fonts/Code_Pro_Demo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Code_Pro_Demo-webfont.woff") format("woff"), url("../Code_Pro_Demo-webfont.ttf") format("truetype"), url("../Code_Pro_Demo-webfont.svg#CodeProDemoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  color: #333;
}

ul {
  margin: 0 0 0 -20px;
}

h2 {
  font-size: 35px;
  font-family: 'CodeProDemoRegular';
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
  color: #FA023C;
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
}

a {
  color: #0042ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#container aside {
  width: 350px;
  position: fixed;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  font-family: 'CodeProDemoRegular';
  display: block;
  color: #fff;
  padding: 50px 90px 50px 0;
  background: #FA023C;
  border-right: 1px solid #f36f6f;
  float: left;
  text-align: right;
  -moz-box-shadow: #f36f6f 5px 1px 20px;
  -webkit-box-shadow: #f36f6f 5px 1px 20px;
  -o-box-shadow: #f36f6f 5px 1px 20px;
  box-shadow: #f36f6f 5px 1px 20px;
  text-shadow: #f36f6f 2px 2px 10px;
}
#container aside a {
  color: #fff;
  text-decoration: none;
}
#container aside a:hover {
  text-decoration: underline;
}
#container aside header h1 {
  margin: 0 0 20px 0;
  text-indent: -9999px;
  background: url(../img/pyladies.png) top left no-repeat;
  width: 300px;
  height: 0px;
  float: right;
  padding: 128px 0 0 0;
  overflow: hidden;
  display: block;
}
#container aside header h1 a {
  width: inherit;
  height: 150px;
  margin-top: -155px;
  display: block;
  text-indent: -9999px;
}
#container aside nav ul {
  padding: 20px 0 0 0;
}
#container aside nav ul li {
  padding: 0 0 25px 0;
  font-size: 30px;
}
#container aside .linode {
  background: url(../img/linode.png) top left no-repeat;
  width: 150px;
  height: 60px;
  padding: 0 0 0 20px;
  margin: 30px 0 0 0;
  float: right;
}
#container #main {
  width: 700px;
  padding: 60px 0 0 0;
  margin: 0 0 0 530px;
  float: left;
}

#home .mission-statement {
  padding: 125px 0 0 0;
  font-size: 23px;
}
#home .mission-statement p {
  margin-bottom: 10px;
}
#home .upcoming {
  width: 350px;
  float: left;
}
#home .mailchimp {
  padding: 35px 0 0 0;
  clear: both;
}
#home .mailchimp label {
  color: #FA023C;
  font-weight: bold;
  font-size: 15px;
  display: block;
}
#home .mailchimp input[type="email"] {
  padding: 5px 10px;
  margin: 10px 5px 0 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #888;
  background: #fff;
}
#home .mailchimp input[type="submit"] {
  background: #FA023C;
  border: none;
  color: #fff;
  padding: 5px 10px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}

#events ul {
  margin: 0 0 0 -40px;
}
#events ul li {
  list-style: none;
}
